
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome to Glitch!</title>
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Import Bootstrap cdn css-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css">
  
  
</head>
<body>
  
  <div class="container">
    <h3 class="text-center">Freecodecamp Api Microservices Challenge Result</h3>
    <h4 class="text-center"> Created by Tapan Gujjar </h4>
    
    <div class="row form-container">
      
      <div class="col-md-5 trackerForm">
        
        <div class="usernameForm">
          <form>
            <h3 class="text-center">Add User</h3>
            <h6 class="apiText text-center">POST /api/exercise/new-user</h6>
            <input type="text" class="form-control form-elm" name="username" id="username" placeholder="Username: e.g. username"/>
            
            <button id="addUserBtn" class="form-control btn btn-primary form-elm">Add User</button>
          </form>
        </div>
        
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-5 trackerForm">
        <form>
          <h3 class="text-center"> Add Exercise</h3>
          <h6 class="apiText text-center">POST /api/exercise/add</h6>
          <input type="text" class="form-control form-elm" name="usedId" id="userId" placeholder="UserId: "/>
          <input type="text" class="form-control form-elm" name="description" id="description" placeholder="description: e.g.Body Building"/>
          <input type="text" class="form-control form-elm" name="duration" id="duration" placeholder="duration in minutes: e.g.20"/>
          <input type="text" class="form-control form-elm" name="date" id="date" placeholder="date in (yyyy-mm-dd): e.g.2018-10-10"/>
          <button id="addLogBtn" class="form-control form-elm btn btn-primary">Add New Log</button> 
        </form>
      </div>
    </div>
    
    <div class="text-center seeLog">
      <h5 class="apiText">View Log<br> GET /api/exercise/log?userId=[userId]&from=[from{date}]&to=[to{date}]</h5>
    </div>
  </div>
  
  <!-- Bootstrap js cdb-->
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  
</body>
<!-- import the webpage's client-side javascript file -->
<script src="/networking.js"></script>
<script src="/client.js" defer></script>

</html>
