/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-color: #FFFDD0;
}

h3{
  margin-top: 10px;
}

.trackerForm{
  padding: 20px;
  background-color: goldenrod;
}

.apiText{
  background-color: yellow;
  padding: 10px;
}

.form-elm{
  margin-top: 10px;
  margin-bottom: 10px;
}

.seeLog{
  margin-top: 30px;
}